html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

.main {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    cursor: pointer; 
}

.main div {
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    border: 1px solid blueviolet;
    width: 95px;
    height: 95px;
}


.button:focus {
    outline: none;
}

.button:hover {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
    
}

.button:active {
    width: 105px;
    height: 105px;
    transition: 130ms;
}

@keyframes bol {
    0% {
        height: 100px;
        width: 100px;
        animation-timing-function: linear;
    }

    100% {
        height: 180px;
        width: 180px;
        border: 1px solid rgba(138, 43, 226, 0.1);
    }

}